pipeline/pl_execute_pipeline.json
{
	"name": "pl_execute_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_dynamic_passig_array_execute_pipline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"fileName": {
							"value": "@createArray('employees.csv','department.csv')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "childpiplinename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "plname",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.PIPELINENAME",
						"type": "Expression"
					}
				}
			},
			{
				"name": "childpipelinerunid",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"plname": {
				"type": "String"
			},
			"plrunid": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-24T10:28:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}